.nav-list {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    display: flex;
    margin: 0;
  }
}

.nav-link {
  display: inline-block;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.02em;

  color: $primary-black-color;

  @include transition(color);
  
  &:hover, 
  &:focus {
    color: $secondary-color;
  } 

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav-item:not(:last-child) {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
  margin: 0;
  }
}

.current-page {
  display: inline-block;
  color: $secondary-color;

  &:after {
    content: "";

    display: block;   
    width: 100%;
    height: 4px;
    margin-top: 8px;
    border-radius: 2px;
    
    background-color: $secondary-color;

    @media screen and (min-width: 768px) {
      margin-top: 28px;
    }
  }
}
