.header-logo {
  display: block;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  color: $full-black-color;

  & > span {
    color: $secondary-color;
  }

  @media screen and (min-width: 768px) {
    min-width: 141px;
    margin-right: 81px;
  }
}

.nav-header {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-end;
  }
}

.nav-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  padding: 60px 0px;
  border: 1px solid $header-border-color;

  @media screen and (min-width: 768px) {
    border: none;
    position: static;
    display: flex;
    justify-content: space-between;

    padding: 0;
  }

  text-align: center;
  background-color: $primary-white-color;

  & .nav-item:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }    
  }
}
// Меню через opacity, проблема: tab проходит по скрытому контенту
// .nav-menu {
//   display: none;
//   // @include transition(opacity);
//   // pointer-events: none;
//   @media screen and (min-width: 768px) {
// }
// }

.nav-btn.is-open ~ .nav-menu {
  display: block;
  z-index: 2;
  // opacity: 1;
  // pointer-events: all;
}

.nav-btn {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;

  & .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon {
  &-cross,
  &-menu {
    fill: $primary-black-color;
  }
  .nav-btn:focus &-cross,
  .nav-btn:focus &-menu,
  .nav-btn:hover &-cross,
  .nav-btn:hover &-menu {
    fill: $secondary-color;
  }
}