html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    color: $primary-grey-color;
  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  
    letter-spacing: 0.03em;
  }
  
  img {
    display: block;
  }

  h1,
  h2,
  h3,
  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  button,
  address {
    font-family: inherit;
    font-style: normal;
  }
  
  ul,
  button,
  input {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    padding: 0px;
  }
  
  a {
    font-family: inherit;
    text-decoration: none;
  }
  
  svg {
    display: block;
  }

  .border-buttom {
    border-bottom: 1px solid $header-border-color;
  }