.footer {
    
    &-contacts {
        margin-bottom: 60px;
    //   margin-right: 69px;
    }

    &-logo {
        display: block;
      
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.17;

      margin-bottom: 20px;
      color: $primary-white-color;
      
      & > span {
              color: $secondary-color;
            }
      }
    }
    
    .footer-address {
      &-link.city {
      color: $primary-white-color;
      }
  
      &-link.email,
      &-link.tel {
      color: $secondary-white-color;
      }
  
      &-item:not(:last-child) {
      margin-bottom: 8px;
      }
  
      &-link{
      padding: 0px;
  
          &:hover,
          &:focus {
          color: $secondary-color;
          }
      
      @include transition (color);
      }
    }
  
