.footer-social {
    // margin-right: 94px;
  
    &-subtitle {
      @extend %footer-subtitle;
      margin-bottom: 20px;
    }
  
    &-list {
      @extend %flex-box;
      justify-content: center;
      margin-bottom: 60px;

      @media screen and (min-width: 1200px) {
        margin-bottom: 0;
      }
    }
  
    &-item:not(:last-child) {
      margin-right: 10px;
    }
    
    &-icon {
      @extend %social-icon;
    }
  }
  
  .footer-social-link {
      display: flex;
      padding: 12px;
  
      fill: $primary-white-color;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
  
      @include transition(background-color);
  
      &:hover,
      &:focus {
        background-color: $secondary-color;
        outline: none;
      }
    }