// 
//  Section-hero

.hero {
  max-width: 1600px;
  height: 600px;
  @extend %auto-margins;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero-background.jpg);

  text-align: center;
}

.hero-title {
    margin-bottom: 30px;

    color: $primary-white-color;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

.button-order {
  padding: 10px 52px;

  color: $primary-white-color;
  background-color: $secondary-color;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
