.subscribe {
    &-subtitle {
      display: block;
      @extend %footer-subtitle;
    }

    &-wrapper {
      @media screen  and (min-width:1200px){
        display: flex;  
        justify-content: space-between;
      }      
    }    
  }