.subscribe {
    &-tooltip {
      position: absolute;
      top: 15px;
      left: 16px;

      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      line-height: 1.25;

      @include transition(transform, color);
    }

      &-field:focus + &-tooltip,
      &-field:not(:placeholder-shown) + &-tooltip {
        transform: translateX(-70px);
        color: $primary-white-color;
      }      
    }