// 
// Team section

.team {
  @extend %vertical-paddings;
  background-color: $primary-background-color;

  &-section {
    @extend %container;
  }

  &-title {
    @extend %section-title;
  }

  &-list {
    @extend %flex-box;
  }
}

// Team card

.team-card {
  &:not(:last-child) {
    margin-right: 30px;
  }
  
  width: 270px;

  font-size: 0px;
  box-shadow: 
    0px 2px 1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.bio {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;

  background-color: $primary-white-color;
  border-radius: 0px 0px 4px 4px;

  &-name {
    margin-bottom: 10px;

    color: $primary-black-color;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &-proffesion {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
}

// Social list

.social-list {
  @extend %flex-box;

  & > li:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link {
  display: block;
  padding: 12px;
  border-radius: 50%;

  fill: $secondary-grey-color;

  @include transition(fill, background-color);

  &:hover,
  &:focus {
    fill: $primary-white-color;
    background-color: $secondary-color;
    outline: none; 
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-icon {
  @extend %social-icon;
}
