// 
// Section Clients

.clients {
  @extend %container;
  @extend %vertical-paddings;

  &-title {
    @extend %section-title;
  }

  &-list {
    @extend %flex-box;
  }

  &-item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-link {

    width: 170px;
    height: 90px;

    fill: $secondary-grey-color;

    border: 1px solid $secondary-grey-color;
    border-radius: 4px;

    @extend %flex-box;
    justify-content: center;

    @include transition(fill, border-color);

    &:hover,
    &:focus {
      fill: $secondary-color;
      border-color: $secondary-color;
      outline: none     ;
    }
  }

