
.clients {
  &-title {
    @extend %section-title;
  }

  &-list {
    @extend %flex-box;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }

  &-item {
    width: calc((100% - 30px * 2) / 2 );
    margin: 15px;

    @media screen and (min-width: 768px){
      width: calc((100% - 30px * 3) / 3 );
    }

    @media screen and (min-width: 1200px){
      width: calc((100% - 30px * 6) / 6 );
    }
  }
}

.clients-link {
  height: 90px;

  fill: $secondary-grey-color;

  border: 1px solid $secondary-grey-color;
  border-radius: 4px;

  @extend %flex-box;
  justify-content: center;

  @include transition(fill, border-color);

  &:hover,
  &:focus {
    fill: $secondary-color;
    border-color: $secondary-color;
    outline: none;
  }
}
