.features {
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  &-title {
    display: none;
  }

  &-list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &-item {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px * 2) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 30px * 4) / 4);
    }
  }

  &-item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &-subscribe {
    text-align: left;
  }
  
}

.features-subtitle {
  margin-bottom: 10px;

  color: $primary-black-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  // Features card with icon

  &::before {
    content: "";
    display: block;

    width: 100%;
    height: 120px;

    background-color: $primary-background-color;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

// Generate icons

@each $icon-name in $features-icons {
  .icon-#{$icon-name}::before {
    content: "";
    background-image: url(./../images/icon-#{$icon-name}.svg);
  }
}
