$primary-black-color: #212121;
$full-black-color: #000000;

$secondary-color: #2196f3;

$primary-white-color: #ffffff;
$secondary-white-color: rgba(255, 255, 255, 0.6);

$primary-grey-color: #757575;
$secondary-grey-color: #afb1b8;

$primary-background-color: #f5f4fa;
$secondary-background-color: #2f303a;
$background-description-color: rgba(47, 48, 58, 0.8);
$modal-background-color: rgba(0, 0, 0, 0.2);

$header-border-color: #ececec;

$form-border-color: rgba(255, 255, 255, 0.3);

$time-function: cubic-bezier(0.4, 0, 0.2, 1);

$features-icons: "antenna", "clock", "diagram", "astronaut";
