//  Gallery cards

.gallery {
  &-list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &-img {
    width: 100%;
    max-height: 294px;
    object-fit: cover;
  }

  &-link {
    display: block;
    font-size: 0px;

    &:hover,
    &:focus {
      outline: none;
      box-shadow: 
      1px 4px 6px rgba(0, 0, 0, 0.16),
      0px 4px 4px rgba(0, 0, 0, 0.06), 
      0px 1px 1px rgba(0, 0, 0, 0.12);
    }
  }

  &-desc {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }
}

// .dots-hide {
//   @media screen and (min-width: 1200px), screen and (max-width: 767px) {
//     display: none;
//   }
// }

// .text-hide {
//   @media screen and (min-width: 768px) and (max-width: 1199px) {
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     margin: -1px;
//     border: 0;
//     padding: 0;
//     clip: rect(0 0 0 0);
//     overflow: hidden;
//   }
// }

// Gallery card position styles

.gallery-item {
  width: 100%;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px * 2) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px * 3) / 3);
  }
  @include transition(box-shadow);

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

//  Gallery card text styles

.gallery-item {
  &-title {
    margin-bottom: 4px;

    color: $primary-black-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  &-subtitle {
    color: $primary-grey-color;

    font-size: 16px;
    line-height: 1.87;
  }
}

.truncate-text {
@media screen and (min-width: 768px) and (max-width: 1199px) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 304px;
}
}